.hero {
  object-fit: cover;
  overflow: hidden;
}

.hero__text {
  font-size: 54px;
  font-weight: 300;
}
.hero__text__main {
  font-size: 54px;
  font-weight: 600;
}

.hero__text__accent {
  font-size: 54px;
  font-weight: 600;
  background-image: linear-gradient(135deg, #41d392, #54b2bd, #6287f3);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.hero__container {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 85px 60px 101px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}
.hero__text__container {
  margin-top: 85px;
  margin-bottom: 40px;
}
.hero__img__container {
  position: relative;
  width: 275px;
  border-radius: 137px 15px;
  margin-right: 80px;
}
.hero__img {
  width: 275px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 137px 15px;
}

.background__image__blue,
.background__image__green {
  position: absolute;
  z-index: -1;
  filter: blur(58.5px);
  border-radius: 395px;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.background__image__blue {
  animation-name: animation-blue;
  background-color: rgba(96, 143, 234, 0.6);
  top: 55px;
  right: 0;
  transform: rotate(45deg);
}
.background__image__green {
  animation-name: animation-green;
  background-color: rgba(66, 184, 131, 0.6);
  bottom: 55px;
  left: 0px;
  transform: rotate(-30deg);
}

@keyframes animation-blue {
  from {
    width: 262px;
    height: 315px;
  }
  to {
    width: 328px;
    height: 394px;
  }
}
@keyframes animation-green {
  from {
    width: 328px;
    height: 394px;
  }
  to {
    width: 262px;
    height: 315px;
  }
}
.social__container {
  position: absolute;
  bottom: 0;
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30px;
}
.social__line {
  width: 2px;
  height: 62px;
  background: linear-gradient(
    180deg,
    #41d392 9.95%,
    #54b2bd 51.55%,
    #6287f3 87.59%
  );
}
.mail__container {
  position: absolute;
  bottom: 0;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30px;
}
.mail__text {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.3;
}
.mail__line {
  width: 2px;
  height: 162px;
  background: linear-gradient(
    180deg,
    #41d392 9.95%,
    #54b2bd 51.55%,
    #6287f3 87.59%
  );
}

.about {
  height: 200px;
  background: #353f3b;
}
.about__container {
  display: flex;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 50px;
}

@media (min-width: 1024px) {
  .hero__container {
    justify-content: space-between;
  }
  .hero__text__container {
    width: 530px;
    margin-bottom: 0;
  }
  .hero__bg {
    position: absolute;
    left: -400px;
    top: 250px;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/objects.svg);
    background-repeat: no-repeat;
    background-position: top left;
    z-index: -1;
  }
}
@media (min-width: 1280px) {
  .hero__text__container {
    width: 750px;
  }
}
