:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #24282c;
  --vt-c-black-soft: #15171a;
  --vt-c-black-mute: #303030;

  --vt-c-indigo: #2c3e50;

  --vt-c-accent: #00e990;
  --vt-c-accent-gradient: #00e990;
  --vt-c-accent-gradient-2: #54b2bd;
  --vt-c-accent-gradient-3: #6287f3;
  --vt-c-accent-hover: #6fffcb;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

:root {
  --color-background: var(--vt-c-black);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);

  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);

  --color-heading: var(--vt-c-text-dark-1);
  --color-text: var(--vt-c-text-dark-1);
  --color-text-accent: var(--vt-c-accent);
  --color-text-accent-hover: var(--vt-c-accent-hover);
  --color-text-gr-start: var(--vt-c-accent-gradient);
  --color-text-gr-center: var(--vt-c-accent-gradient-2);
  --color-text-gr-end: var(--vt-c-accent-gradient-3);
}
